﻿
@{}

<div class="m-portlet m-portlet--mobile" ng-controller="userCtrl">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="la la-server m--font-focus"></i>
                </span>
                <h3 class="m-portlet__head-text m--font-focus">{{formTitle}}</h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <div class="m-form m-form--label-align-right m--margin-bottom-20">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        @*<div class="col-lg-3 m--margin-top-10-tablet-and-mobile">
                            <div class="m-form__group m-form__group--inline">
                                <div class="m-form__label">
                                    <label>Status:</label>
                                </div>
                                <div class="m-form__control">
                                    <select ng-model="status" class="form-control" ng-change="filterByStatus(status)">
                                        <option value="All">All</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-lg-3 m--margin-top-10-tablet-and-mobile">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" placeholder="Search..." ng-model="searchString" ng-keyup="setSearchString()">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 m--align-center  m--margin-top-10-tablet-and-mobile m--margin-top-10-desktop">
                            <label ng-show="successFailMsg=='success'" style="color: green; font-weight: bold;">{{OperationMessage}}</label>
                            <label ng-show="successFailMsg=='fail'" style="color: red; font-weight: bold;">{{OperationMessage}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 m--align-right  m--margin-top-10-tablet-and-mobile">
                    <a class="btn btn-focus m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" href="#" ng-click="loadInsertModal();">
                        <span>
                            <i class="la la-plus"></i>
                            <span>New</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="m-form" style="overflow: auto;">
            <div class="row col-lg-12">
                <table class="table table-bordered table-hover dataTable dtr-inline" role="grid">
                    <thead style="background-color: #cb8bf9 !important; color: white;">
                        <tr role="row">
                            <th>Username</th>
                            <th>Display Name</th>
                            @*<th>Date</th>*@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in itemList|orderBy:'title'|itemsPerPage:$root.itemViewPerPage" total-items="totalItemCount" ng-class="$index % 2 == 0 ? 'even_custom' : 'odd_custom'">
                            <td>{{item.userName}}</td>
                            <td>{{item.displayName}}</td>
                            
                            @*<td>{{item.createdDate| date:'dd/MM/yyyy'}}</td>*@
                            <td>
                                <span style="overflow: visible; position: relative; width: 100px;">
                                    <a ng-click="" ng-confirm-click="Are you sure to delete this record?" confirmed-click="remove(item.id)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete User">
                                        <i class="la la-trash"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-9">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="getPageNo(newPageNumber)"></dir-pagination-controls>
            </div>
            <div class="col-lg-3 row m--margin-top-20-tablet-and-mobile m--margin-top-20-desktop">
                <div class="col-lg-5">
                    <select ng-model="viewPerPage" class="form-control" ng-change="setViewPerPage(viewPerPage)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="col-lg-7">
                    Displaying {{((pageNo-1)*itemViewPerPage)+1}} - {{((pageNo*itemViewPerPage) >= totalItemCount)? totalItemCount: (pageNo*itemViewPerPage)}} of {{totalItemCount}} records
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade blockui_modal" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title m--font-focus" id="">{{modalCaption}} User</h5>
                    <button type="button" class="close m--font-focus" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-remove"></span>
                    </button>
                </div>

                <form id="item" name="itemForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="modal-body">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="">Employee:</label>
                                <div class="m-input-icon m-input-icon--right">
                                    
                                    <select ng-model="Employee" ng-options="x.name for x in EmployeeList track by x.id" ng-change="employeeSelectedChange()" class="form-control">
                                        <option value="">--Select Status--</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row m--margin-top-10">
                            <div class="col-lg-12">
                                <label class="">Username:</label>
                                <div class="m-input-icon m-input-icon--right">
                                    <input name="UserName" ng-model="itemModel.UserName" type="text" required disabled class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Email Address">
                                </div>
                            </div>
                        </div>

                        <div class="row m--margin-top-10">
                            <div class="col-lg-12">
                                <label class="">Password:</label>
                                <div class="m-input-icon m-input-icon--right">
                                    <input name="Password" ng-model="itemModel.Password" type="password" required class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Password">
                                    <span style="color: red" ng-show="itemForm.Password.$touched && itemForm.Password.$invalid">
                                        <span ng-show="itemForm.Password.$error.required">Please enter password.</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="btnCCancel" type="button" class="btn btn-default m-btn m-btn--pill" data-dismiss="modal">Close</button>
                        <button id="btnCAdd" type="button" class="btn btn-focus m-btn m-btn--pill" ng-click="save()">{{saveUpdateButtonCaption}}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

@section page_styles {}

@section Scripts {
    <script src="~/js/application/admin/user/user-management.js"></script>
}

