﻿@using Microsoft.Extensions.Configuration
@using Travel.Data.Entities.Identity
@inject IConfiguration Configuration
@{
}

<!DOCTYPE html>

<html lang="en" ng-app="tastyQueen">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@Configuration.GetSection("ApplicationInformation")["Name"] | {{formTitle}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>*@

    <link href='https://fonts.googleapis.com/css?family=Hind Vadodara' rel='stylesheet'>

    <script>
        //WebFont.load({
        //    google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700", "Asap+Condensed:500"] },
        //    active: function () {
        //        sessionStorage.fonts = true;
        //    }
        //});
    </script>
    <!--end::Web font -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="~/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <link href="~/vendors/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/flaticon/css/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/metronic/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />

    <link href="~/vendors/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles -->
    <link href="~/assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    <link href="~/js/application/library/dirPagination/dirPagination.css" rel="stylesheet" />
    <!--Angular Library -->
    <script src="~/js/application/library/angular.min.js"></script>
    <script src="~/js/application/library/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!--End -->

    <link rel="shortcut icon" href="~/assets/demo/media/img/logo/favicon.ico" />

    <style type="text/css">
        body {
            font-family: 'Hind Vadodara';
        }
    </style>

    @RenderSection("page_styles", required: false)
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body style="background-image: url(/assets/app/media/img/bg/bg-7.jpg)" class="m-page--fluid m-page--loading-enabled m-page--loading m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">

    <!-- begin::Page loader -->
    <div class="m-page-loader m-page-loader--base">
        <div class="m-blockui">
            <span>Please wait...</span>
            <span>
                <div class="m-loader m-loader--brand"></div>
            </span>
        </div>
    </div>
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- begin::Header -->
        <header id="m_header" class="m-grid__item m-header " m-minimize="minimize" m-minimize-mobile="minimize" m-minimize-offset="10" m-minimize-mobile-offset="10">
            <div class="m-header__top">
                <div class="m-container m-container--fluid m-container--full-height m-page__container" style="padding: 0 10px">
                    <div class="m-stack m-stack--ver m-stack--desktop">

                        <!-- begin::Brand -->
                        <div class="m-stack__item m-brand m-stack__item--left">
                            <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                    <a href="#" class="m-brand__logo-wrapper">
                                        <img alt="" src="/assets/demo/media/img/logo/logo.png" class="m-brand__logo-default" />
                                        <img alt="" src="/assets/demo/media/img/logo/logo_inverse.png" class="m-brand__logo-inverse" />
                                    </a>
                                </div>
                                <div class="m-stack__item m-stack__item--middle m-brand__tools">

                                    <!-- begin::Responsive Header Menu Toggler-->
                                    <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    <!-- end::Responsive Header Menu Toggler-->
                                    <!-- begin::Topbar Toggler-->
                                    <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                        <i class="flaticon-more"></i>
                                    </a>
                                    <!--end::Topbar Toggler-->

                                </div>
                            </div>
                        </div>
                        <!-- end::Brand -->
                        <!--begin::Search-->
                        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable- m-header-search--skin-"
                             id="m_quicksearch" m-quicksearch-mode="default">
                            <form class="m-header-search__form"></form>

                            <!--end::Search Form -->
                            <!--begin::Search Results -->
                            @*<div class="m-dropdown__wrapper">
                                    <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-height="300" data-mobile-height="200">
                                                <div class="m-dropdown__content m-list-search m-list-search--skin-light">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <!--end::Search Results -->
                        </div>
                        <!--end::Search-->
                        <!-- begin::Topbar -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="m-stack__item m-stack__item--right m-header-head" id="m_header_nav">
                                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                    <div class="m-stack__item m-topbar__nav-wrapper">
                                        <ul class="m-topbar__nav m-nav m-nav--inline">
                                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                                    <span class="m-topbar__userpic">
                                                        <img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />
                                                    </span>
                                                    <span class="m-nav__link-icon m-topbar__usericon  m--hide">
                                                        <span class="m-nav__link-icon-wrapper"><i class="flaticon-user-ok"></i></span>
                                                    </span>
                                                    <span class="m-topbar__username m--hide">Nick</span>
                                                </a>
                                                <div class="m-dropdown__wrapper">
                                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                    <div class="m-dropdown__inner">
                                                        <div class="m-dropdown__header m--align-center">
                                                            <div class="m-card-user m-card-user--skin-light">
                                                                <div class="m-card-user__pic">
                                                                    <img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />
                                                                </div>
                                                                <div class="m-card-user__details">
                                                                    <span class="m-card-user__name m--font-weight-500">@User.Identity.AdditionalInfo().GetDisplayName()</span>
                                                                    <a href="" class="m-card-user__email m--font-weight-300 m-link">@User.Identity.AdditionalInfo().Email</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="m-dropdown__body">
                                                            <div class="m-dropdown__content">
                                                                <ul class="m-nav m-nav--skin-light">
                                                                    <li class="m-nav__item">
                                                                        <a href="@Url.Action("AdminPassword", "Account", new{Area=""})" class="m-nav__link">
                                                                            <i class="m-nav__link-icon flaticon-lock"></i>
                                                                            <span class="m-nav__link-text">Change password</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="m-nav__separator m-nav__separator--fit">
                                                                    </li>
                                                                    <li class="m-nav__item">
                                                                        <a href="@Url.Action("Logout", "Account", new{Area=""})" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                        <!-- end::Topbar -->

                    </div>
                </div>
            </div>
            <div class="m-header__bottom">
                <div class="m-container m-container--fluid m-container--full-height m-page__container" style="padding: 0 1%;">
                    <div class="m-stack m-stack--ver m-stack--desktop">

                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--fluid m-header-menu-wrapper">
                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                                <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                    <li id="dashboard" class="m-menu__item m-menu__item--submenu m-menu__item--tabs {{dashboardTab}}" m-menu-submenu-toggle="tab" aria-haspopup="true">
                                        <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                                            <span class="m-menu__link-text">Dashboard</span><i class="m-menu__hor-arrow la la-dashboard"></i><i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a href="@Url.Action("Index", "AdminDashboard", new {Area = "Admin"})" class="m-menu__link "><i class="m-menu__link-icon  la la-dashboard"></i><span class="m-menu__link-text">Dashboard</span></a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li id="menu" class="m-menu__item m-menu__item--submenu m-menu__item--tabs m-menu__item--open-dropdown  {{orderTab}}" m-menu-submenu-toggle="tab" aria-haspopup="true">
                                        <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                                            <span class="m-menu__link-text">Booking Management</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                            <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 47px;"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item " aria-haspopup="true">
                                                    <a href="#" class="m-menu__link ">
                                                        <i class="m-menu__link-icon la la-th-list"></i>
                                                        <span class="m-menu__link-text">Hotel</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li id="menu" class="m-menu__item m-menu__item--submenu m-menu__item--tabs m-menu__item--open-dropdown  {{settingsTab}}" m-menu-submenu-toggle="tab" aria-haspopup="true">
                                            <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                                                <span class="m-menu__link-text">Settings</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--tabs">
                                                <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 47px;"></span>
                                                <ul class="m-menu__subnav">
                                                    <li class="m-menu__item " aria-haspopup="true">
                                                        <a href="@Url.Action("Index", "EmployeeManagement", new {Area = "Admin"})" class="m-menu__link ">
                                                            <i class="m-menu__link-icon la la-th-list"></i>
                                                            <span class="m-menu__link-text">Employee</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-menu__item " aria-haspopup="true">
                                                        <a href="@Url.Action("Index", "UserManagement", new {Area = "Admin"})" class="m-menu__link ">
                                                            <i class="m-menu__link-icon la la-th-list"></i>
                                                            <span class="m-menu__link-text">User</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    }


                                </ul>
                            </div>
                        </div>
                        <!-- end::Horizontal Menu -->

                    </div>
                </div>
            </div>
        </header>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body" style="padding: 0 1.01% 0 1%;">
            <div class="m-grid__item m-grid__item--fluid m-wrapper" style="padding: 10px;">
                @RenderBody()
            </div>
        </div>
        <!-- end::Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-footer__wrapper">
                    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                            <span class="m-footer__copyright">
                                &copy; 2017 - @DateTime.Now.Year  @Configuration.GetSection("ApplicationInformation")["Name"]
                            </span>
                        </div>
                        <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                            <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                                <li class="m-nav__item">
                                    <a href="#" class="m-nav__link">
                                        <span class="m-nav__link-text">About</span>
                                    </a>
                                </li>
                                <li class="m-nav__item">
                                    <a href="#" class="m-nav__link">
                                        <span class="m-nav__link-text">Privacy</span>
                                    </a>
                                </li>
                                <li class="m-nav__item">
                                    <a href="#" class="m-nav__link">
                                        <span class="m-nav__link-text">T&C</span>
                                    </a>
                                </li>
                                <li class="m-nav__item">
                                    <a href="#" class="m-nav__link">
                                        <span class="m-nav__link-text">Purchase</span>
                                    </a>
                                </li>
                                <li class="m-nav__item">
                                    <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                                        <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end::Footer -->

    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
    <!--begin:: Global Mandatory Vendors -->
    <script src="~/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="~/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <script src="~/vendors/block-ui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="~/vendors/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/vendors/js/framework/components/plugins/base/sweetalert2.init.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/vendors/select2/dist/js/select2.full.js" type="text/javascript"></script>

    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>

    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle -->
    <script src="/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    <script src="~/assets/app/js/dashboard.js" type="text/javascript"></script>
    <!--end::Page Scripts -->

    <script src="~/vendors/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
    <script src="~/vendors/js/framework/components/plugins/base/bootstrap-notify.init.js" type="text/javascript"></script>

    <script src="~/js/BlockUI_Custom.js"></script>
    <script src="~/js/numeral.min.js"></script>

    <!--begin::Angular Scripts -->
    <script src="~/js/application/library/dirPagination/dirPagination.js"></script>
    <script src="~/js/application/init-module.js"></script>
    <script src="~/js/application/service/applicationConfiguration.js"></script>

    <script src="~/js/application/service/dataTable.js"></script>

    <script src="~/js/application/directive-factory.js"></script>
    <!--begin::Angular Scripts -->
    <!-- begin::Page Loader -->
    <script>

        function myNotification(message, title, type, icon) {
            var content = {};

            //content.url = 'www.keenthemes.com';
            //content.target = '_blank';

            content.message = message;
            content.title = title;
            content.icon = 'icon ' + icon;

            var notify = $.notify(content, {
                type: type,
                allow_dismiss: true,
                newest_on_top: false,
                mouse_over: true,
                showProgressbar: false,
                spacing: 10,
                timer: 200,
                placement: {
                    from: 'bottom',
                    align: 'right'
                },
                offset: {
                    x: 30,
                    y: 30
                },
                delay: 3000,
                z_index: 10000,
                animate: {
                    enter: 'bounceIn',
                    exit: 'bounceIn'
                }
            });
        }

        $(window).on('load', function () {
            $('body').removeClass('m-page--loading');
        });

        //function initMenu(Link) {
        //    if (Link == "Dashboard") {
        //        $("#invoice").removeClass("m-menu__item--active-tab");
        //        $("#plan").removeClass("m-menu__item--active-tab");

        //        $("#dashboard").addClass("m-menu__item--active-tab");

        //    } else if (Link == "Invoice") {
        //        $("#dashboard").removeClass("m-menu__item--active-tab");
        //        $("#plan").removeClass("m-menu__item--active-tab");

        //        $("#invoice").addClass("m-menu__item--active-tab");

        //    } else if (Link == "plan") {
        //        $("#dashboard").removeClass("m-menu__item--active-tab");
        //        $("#invoice").removeClass("m-menu__item--active-tab");

        //        $("#plan").addClass("m-menu__item--active-tab");

        //    }









        //}

        //function loadDashboardurl() {
        //    var pullValue = sessionStorage.getItem("CompanyBasicInfo");
        //    if (pullValue == "")
        //        jsonObj = [];
        //    else {
        //        jsonObj = JSON.parse(pullValue);
        //    }
        //    $(".menu_dashboard").attr("href", jsonObj[0].DashboardUrl);
        //}
    </script>
    <!-- end::Page Loader -->

    @RenderSection("Scripts", required: false)
</body>
<!-- end::Body -->

</html>