﻿@using Microsoft.Extensions.Configuration
@using Travel.Data.Entities.Identity
@inject IConfiguration Configuration
@{}

<!DOCTYPE html>

<html lang="en" ng-app="tastyQueen">

<head>
    @*mehedi*@
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5858818384851471",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8"/>
    <title>@Configuration.GetSection("ApplicationInformation")["Name"] | {{formTitle}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Hind Vadodara' rel='stylesheet'>
    <link href="~/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>

    <!--begin:: Global Mandatory Vendors -->
    <link href="~/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <link href="~/vendors/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/vendors/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="~/vendors/vendors/flaticon/css/flaticon.css" rel="stylesheet" type="text/css"/>
    <link href="~/vendors/vendors/metronic/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="~/vendors/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css"/>
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles -->
    <link href="~/assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles -->
    <!--begin::Application Custom Styles -->
    <link href="~/js/application/library/dirPagination/dirPagination.css" rel="stylesheet"/>
    <!--end::Application Custom Styles -->
    <!--Angular Library -->
    <script src="~/js/application/library/angular.min.js"></script>
    <script src="~/js/application/library/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!--End -->

    <link rel="shortcut icon" href="~/assets/demo/media/img/logo/favicon.ico"/>

    <style type="text/css">
        body {
            font-family: 'Hind Vadodara';
        }

        .mycard {
            float: left;
            width: 33%;
            padding: 0;
            height: 30px;
        }
    </style>

    @RenderSection("page_styles", required: false)
</head>

<body style="" class="m-page--fluid m-page--loading-enabled m-page--loading m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
    <div>

        <!-- begin::Page loader -->
        <div class="m-page-loader m-page-loader--base">
            <div class="m-blockui">
                <span>Please wait...</span>
                <span>
                    <div class="m-loader m-loader--brand"></div>
                </span>
            </div>
        </div>
        <!-- end::Page Loader -->

        <!-- begin:: Page -->
        <div class="m-grid m-grid--hor m-grid--root m-page">

            <div ng-controller="signUpSignInPopup">
            
                <!-- begin::Quick Sidebar -->
                <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light  blockui_login_signup">
                    <div class="m-quick-sidebar__content m--hide">
                        <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>
                        <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist" style="margin-bottom: 20px;">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger" role="tab">Add to shopping cart</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_quick_sidebar_tabs_messenger" role="tabpanel">
                                <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                                    <div class="m-messenger__messages m-scrollable">
                                        <form id="getLoginSliderForm" name="getLoginSliderForm" class="m-form">
                                            <div class="m-portlet__body">
                                                <div class="form-group m-form__group" ng-repeat="x in menuCartList"  ng-init="getCartSubTotal(x, $index)">
                                                    
                                                    <div class="row">
                                                        <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                            <h5>{{x.MenuTitle}}</h5>
                                                        </div>
                                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                            <a href="#" ng-click="deleteMenuFromCart(x.MenuId, $index)" style="text-decoration: none;">
                                                                <i class="la la-close"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-4 m--align-center">
                                                            <button type="button" ng-click="decreaseMenuQty(x.MenuId)" class="btn m-btn--square  btn-secondary mycard">-</button>
                                                            <input name="ItemQty" ng-model="x.OQ" type="text" readonly class=" m--align-center form-control m-input--square m_maxlength_1_custom mycard" maxlength="50">
                                                            <button type="button" ng-click="increaseMenuQty(x.MenuId)" class="btn m-btn--square  btn-secondary mycard">+</button>
                                                        </div>
                                                        <div class="col-3 col-sm-5 col-md-4 col-lg-4 col-xl-4">
                                                            {{x.Price}} {{baseCurrency}}
                                                        </div>
                                                        <div class="col-4 col-sm-2 col-md-4 col-lg-4 col-xl-4">
                                                            {{x.SubTotal}} {{baseCurrency}}
                                                        </div>                                                        
                                                    </div>

                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 m--align-right">
                                                        Sub Total:
                                                    </div>
                                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 m--align-right">
                                                        {{cartSubTotal}} {{baseCurrency}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__foot m-portlet__foot--fit">
                                                <div ng-show="menuCartList.length>0" class="m-form__actions m-form__actions">
                                                    <button id="btnPlaceOrder" ng-click="placeOrder()" type="button" class="btn btn-focus" style="width: 100% !important;">Place Order</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end::Quick Sidebar -->

                <!-- begin::Scroll Top -->
                <div id="m_scroll_top" class="m-scroll-top" style="background: #ff006c; border: 1px solid #ff006c;">
                    <i class="la la-arrow-up"></i>
                </div>
                <!-- end::Scroll Top -->
                
                <div class="modal fade blockui_login_signup" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document" style="">
                        <div class="modal-content" style="">

                            <div class="modal-header">
                                <h5 class="modal-title m--font-focus" id="insert_update_customer_header">
                                    <span><i class="la la-plus  m--font-focus"></i></span>
                                    <span>Sign up now!</span>
                                </h5>
                                <button type="button" class="close m--font-focus" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="la la-remove"></span>
                                </button>
                            </div>

                            <form id="sign_up_modal_form" name="sign_up_modal_form" class="m-form m-form--fit m-form--label-align-right">
                                <div class="modal-body">
                                    
                                    <div class="m--margin-bottom-20">
                                        <input name="Email" ng-model="signupModel.Email" type="email" class="form-control m-input m_maxlength_1_custom" placeholder="Your Email Address" maxlength="50" required>
                                        <span style="color: red" ng-show="sign_up_modal_form.Email.$touched && sign_up_modal_form.Email.$dirty && sign_up_modal_form.Email.$invalid">
                                            <span ng-show="sign_up_modal_form.Email.$error.required">Please enter your email address.</span>
                                        </span>
                                        <span style="color: red" ng-show="sign_up_modal_form.Email.$touched && sign_up_modal_form.Email.$dirty && sign_up_modal_form.Email.$invalid">
                                            <span ng-show="sign_up_modal_form.Email.$error.email">Invalid email address.</span>
                                        </span>
                                    </div>

                                    <div class="m--margin-bottom-10">
                                        <input name="Password" ng-model="signupModel.Password" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Choose Password" maxlength="50" required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required.">
                                        <span style="color: red" ng-show="sign_up_modal_form.Password.$touched && sign_up_modal_form.Password.$dirty && sign_up_modal_form.Password.$invalid">
                                            <span ng-show="sign_up_modal_form.Password.$error.required">Please enter your password.</span>
                                        </span>
                                    </div>

                                    <div class="m--margin-bottom-5">
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox" id="chkTermsAndConditionsModal" name="chkTermsAndConditionsModal" ng-model="chkTermsAndConditionsModal"> I agree to <a href="@Url.Action("TermsOfUse", "Home", null)" class="m-link"><span>Terms of Use</span></a> and <a href="@Url.Action("PrivacyPolicy", "Home", null)" class="m-link"><span>Privacy policy</span></a>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="m--margin-bottom-5 text-center">
                                        <label id="lblModalSignupMsg" style="color: red;"></label>
                                    </div>

                                    <div class="col-lg-12 m--align-center">
                                        <button id="btnModalSignUp" type="button" ng-click="Signup()" ng-disabled="!chkTermsAndConditionsModal"
                                                class="col-md-12 btn btn-focus m-btn m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                            SIGN IN
                                        </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="modal fade blockui_login_signup" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document" style="">
                        <div class="modal-content" style="">

                            <div class="modal-header">
                                <h5 class="modal-title m--font-focus" id="insert_update_customer_header">
                                    <span><i class="la la-lock"></i></span>
                                    <span>Login</span>
                                </h5>
                                <button type="button" class="close m--font-focus" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="la la-remove"></span>
                                </button>
                            </div>

                            <form id="login_modal_form" name="login_modal_form" class="m-form m-form--fit m-form--label-align-right">
                                <div class="modal-body">

                                    <div class="m--margin-bottom-20">
                                        <input name="Email" ng-model="loginModel.Email" type="email" class="form-control m-input m_maxlength_1_custom" placeholder="Your Email Address" maxlength="50" required>
                                        <span style="color: red" ng-show="login_modal_form.Email.$touched && login_modal_form.Email.$dirty && login_modal_form.Email.$invalid">
                                            <span ng-show="login_modal_form.Email.$error.required">Please enter your email address.</span>
                                        </span>
                                        <span style="color: red" ng-show="login_modal_form.Email.$touched && login_modal_form.Email.$dirty && login_modal_form.Email.$invalid">
                                            <span ng-show="login_modal_form.Email.$error.email">Invalid email address.</span>
                                        </span>
                                    </div>

                                    <div class="m--margin-bottom-5">
                                        <input name="Password" ng-model="loginModel.Password" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter Password" maxlength="50" required data-val-length-max="50" data-val-length-min="6" data-val-required="The Password field is required.">
                                        <span style="color: red" ng-show="login_modal_form.Password.$touched && login_modal_form.Password.$dirty && login_modal_form.Password.$invalid">
                                            <span ng-show="login_modal_form.Password.$error.required">Please enter your password.</span>
                                        </span>
                                    </div>

                                    <div class="text-center">
                                        <label id="lblModalLoginMsg" style="color: red;"></label>
                                    </div>

                                    <div class="text-center">
                                        <a href="@Url.Action("ForgotPassword", "Account", null)" class="m-link">
                                            <span>Forgot Password ?</span>
                                        </a>
                                    </div>

                                    <div class="col-lg-12">
                                        <button id="btnModalLogin" type="button" ng-click="Login()" class="col-md-12 btn btn-focus m-btn m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                            LOGIN
                                        </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- begin::Header -->
                <header id="m_header" class="m-grid__item		m-header " m-minimize="minimize" m-minimize-mobile="minimize" m-minimize-offset="10" m-minimize-mobile-offset="10">
                    <div class="m-header__top" style=" height: 61px; box-shadow: 0px 4px 30px -4px rgba(0, 0, 0, 0.07);">
                        <div class="m-container m-container--fluid m-container--full-height m-page__container" style="padding-left: 3%; padding-right: 3%; height: 60px;">
                            <div class="m-stack m-stack--ver m-stack--desktop">

                                <!-- begin::Brand -->
                                <div class="m-stack__item m-brand m-stack__item--left">
                                    <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                            <a href="@Url.Action("Index", "Home", new {Area = ""})" class="m-brand__logo-wrapper">
                                                <img alt="" src="/assets/demo/media/img/logo/logo_inverse.png" class="m-brand__logo-default" />
                                                <img alt="" src="/assets/demo/media/img/logo/logo_inverse.png" class="m-brand__logo-inverse" />
                                            </a>
                                        </div>
                                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                            <!-- begin::Topbar Toggler-->
                                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                                <i class="flaticon-more"></i>
                                            </a>
                                            <!--end::Topbar Toggler-->
                                        </div>
                                    </div>
                                </div>
                                <!-- end::Brand -->

                                <!--begin::Search-->
                                <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable- m-header-search--skin-"
                                     id="m_quicksearch" m-quicksearch-mode="default">
                                    <!--begin::Search Form -->
                                    <form class="m-header-search__form"></form>

                                    <!--end::Search Form -->
                                    <!--begin::Search Results -->
                                    
                                    <!--end::Search Results -->
                                </div>
                                <!--end::Search-->

                                <!-- begin::Topbar -->
                                <div class="m-stack__item m-stack__item--right m-header-head" id="m_header_nav">
                                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                        <div class="m-stack__item m-topbar__nav-wrapper">
                                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                                <li ng-show="menuCartList.length>0" id="m_quick_sidebar_toggle" class="m-nav__item test">
                                                    <a href="#" ng-click="showCartItem()" class="m-nav__link m-dropdown__toggle">
                                                        <span class="m-nav__link-icon m-nav__link-icon-alt">
                                                            <i class="la la-cart-plus m--font-focus" style="font-size: 2rem;"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                                            <span class="m-topbar__userpic">
                                                                <img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />
                                                            </span>
                                                            <span class="m-nav__link-icon m-topbar__usericon  m--hide">
                                                                <span class="m-nav__link-icon-wrapper"><i class="flaticon-user-ok"></i></span>
                                                            </span>
                                                            <span class="m-topbar__username m--hide">Nick</span>
                                                        </a>
                                                        <div class="m-dropdown__wrapper">
                                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                            <div class="m-dropdown__inner">
                                                                <div class="m-dropdown__header m--align-center">
                                                                    <div class="m-card-user m-card-user--skin-light">
                                                                        <div class="m-card-user__pic">
                                                                            <img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />
                                                                        </div>
                                                                        <div class="m-card-user__details">
                                                                            <span class="m-card-user__name m--font-weight-500">@User.Identity.AdditionalInfo().GetDisplayName()</span>
                                                                            <a href="" class="m-card-user__email m--font-weight-300 m-link">@User.Identity.AdditionalInfo().Email</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="m-dropdown__body">
                                                                    <div class="m-dropdown__content">
                                                                        <ul class="m-nav m-nav--skin-light">
                                                                            <li class="m-nav__section m--hide">
                                                                                <span class="m-nav__section-text">Section</span>
                                                                            </li>
                                                                            <li class="m-nav__item">
                                                                                @if (User.IsInRole("Customer"))
                                                                                {
                                                                                    <a href="/Customer/profile" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-profile"></i>
                                                                                        <span class="m-nav__link-title">
                                                                                            <span class="m-nav__link-text">My Profile</span>
                                                                                        </span>
                                                                                    </a>
                                                                                }
                                                                                else if (User.IsInRole("B2B"))
                                                                                {
                                                                                    <a href="/B2B/profile" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-profile"></i>
                                                                                        <span class="m-nav__link-title">
                                                                                            <span class="m-nav__link-text">My Profile</span>
                                                                                        </span>
                                                                                    </a>
                                                                                }
                                                                            </li>
                                                                            <li class="m-nav__item">
                                                                                @if (User.IsInRole("Customer"))
                                                                                {
                                                                                    <a href="/Customer/CustomerDashboard" class="menu_dashboard m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-dashboard"></i>
                                                                                        <span class="m-nav__link-text">Dashboard</span>
                                                                                    </a>
                                                                                }
                                                                                else if (User.IsInRole("B2B"))
                                                                                {
                                                                                    <a href="/B2B/Dashboard" class="menu_dashboard m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-dashboard"></i>
                                                                                        <span class="m-nav__link-text">Dashboard</span>
                                                                                    </a>
                                                                                }
                                                                                else if (User.IsInRole("Admin"))
                                                                                {
                                                                                    <a href="/Admin/AdminDashboard" class="menu_dashboard m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-dashboard"></i>
                                                                                        <span class="m-nav__link-text">Dashboard</span>
                                                                                    </a>
                                                                                }
                                                                            </li>
                                                                            <li class="m-nav__item">
                                                                                @if (User.IsInRole("Customer"))
                                                                                {
                                                                                    <a href="@Url.Action("CustomerPassword", "Account", new {Area = ""})" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lock"></i>
                                                                                        <span class="m-nav__link-text">Change Password</span>
                                                                                    </a>
                                                                                }
                                                                                else if (User.IsInRole("B2B"))
                                                                                {
                                                                                    <a href="@Url.Action("ChangePassword", "Account", new {Area = ""})" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lock"></i>
                                                                                        <span class="m-nav__link-text">Change Password</span>
                                                                                    </a>
                                                                                }
                                                                                else if (User.IsInRole("Admin"))
                                                                                {
                                                                                    <a href="@Url.Action("AdminPassword", "Account", new {Area = ""})" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lock"></i>
                                                                                        <span class="m-nav__link-text">Change Password</span>
                                                                                    </a>
                                                                                }
                                                                                
                                                                            </li>
                                                                            <li class="m-nav__separator m-nav__separator--fit">
                                                                            </li>
                                                                            <li class="m-nav__item">
                                                                                <a href="@Url.Action("Logout", "Account", new {Area = ""})" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li id="m_quick_sidebar_toggle2" class="m-nav__item">
                                                        <a href="#" ng-click="loadLoginModal()" class="m-nav__link m-dropdown__toggle">
                                                            <span class="m-nav__link-icon m-nav__link-icon-alt">
                                                                <span class="" style="border-radius: 5% !important; width: 7.2rem; color: black; background-color: transparent; border: none;">
                                                                    Login
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li id="m_quick_sidebar_toggle_1" class="m-nav__item">
                                                        <a href="#" ng-click="loadModalInInsertMode()" class="m-nav__link m-dropdown__toggle">
                                                            <span class="m-nav__link-icon m-nav__link-icon-alt">
                                                                <span class="m-nav__link-icon-wrapper" style="border-radius: 5% !important; width: 11.2rem; color: white; background-color: #9816f4; border-color: #9816f4;">
                                                                    Register
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end::Topbar -->

                            </div>
                        </div>
                    </div>
                    <div class="m-header__bottom" style="margin-top: 0px; height: 61px;">

                    </div>
                </header>
                <!-- end::Header -->

            </div>

            <!-- begin::Body -->
            <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body">
                <div class="m-grid__item m-grid__item--fluid " style="">
                    @RenderBody()
                </div>
            </div>
            <!-- end::Body -->

            <!-- begin::Footer -->
            <div class="m-grid m-grid--hor m-grid--root m-page"></div>

            <footer class="m-grid__item m-footer">

                <div class="m-container m-container--fluid m-container--full-height m-page__container" style="background-color: #2F4051; min-height: 150px;">
                    <div class="m-footer__wrapper">
                        <div class="row m--padding-top-25" style="color: white;">
                            <div class="col-md-4">
                                <p style="font-size: 15px;">
                                    @Configuration.GetSection("ApplicationInformation")["Name"] offers the best price for their
                                    customers.
                                </p>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-md-3 m--margin-top-20-tablet-and-mobile" style="">
                                <a href="@Url.Action("Index", "Home", new {Area = ""})"  style="color: white; text-decoration: none;"><h5>@Configuration.GetSection("ApplicationInformation")["Name"]</h5></a>
                                @*<div class="col-lg-12 row">
            <a href="#" style="color: white;">Pricing</a>
        </div>*@
                            </div>
                            <div class="col-md-3 row m--margin-top-25-tablet-and-mobile" style="">
                                <div class="col-lg-12">
                                    <a href="mailto:@Configuration.GetSection("ApplicationInformation")["InfoEmail"]" style="color: white;"><icon class="fa fa-envelope"></icon> @Configuration.GetSection("ApplicationInformation")["InfoEmail"]</a>
                                </div>
                                <div class="col-lg-12">
                                    <icon class="fa fa-location-arrow"></icon> Dhaka, Bangladesh
                                </div>
                                <div class="col-lg-12 row m--margin-top-10">
                                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                        <a href="@Configuration.GetSection("ApplicationInformation")["FacebookPage"]" style="color: white;"><i class="fab fa-facebook-square"></i></a>
                                    </div>
                                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                        <a href="@Configuration.GetSection("ApplicationInformation")["LinkedinPage"]" style="color: white;"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                    @*<div class="col-md-1">
                                        <a href="#" style="color: white;"><i class="fab fa-twitter-square"></i></a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-12" style="color: white; background-color: black;">
                    <div class="row m--padding-top-5 m--padding-bottom-5" >
                        <div class="col-xl-6 m--align-right">
                            &copy; 2010 - @DateTime.Now.Year @Configuration.GetSection("ApplicationInformation")["Name"]
                        </div>
                        <div class="col-xl-6 m--align-right">
                            <a href="@Url.Action("Index", "Home", null)" class="m-nav__link" style="color: white; text-decoration: none;">
                                <span class="m-nav__link-text">Home</span>
                            </a>
                            <a href="@Url.Action("PrivacyPolicy", "Home", null)" class="m-nav__link m--margin-left-10" style="color: white; text-decoration: none;">
                                <span class="m-nav__link-text">Privacy Policy</span>
                            </a>
                            <a href="@Url.Action("TermsOfUse", "Home", null)" class="m-nav__link m--margin-left-10" style="color: white; text-decoration: none;">
                                <span class="m-nav__link-text">Terms of Use</span>
                            </a>
                        </div>
                    </div>
                </div>

                @*<div class="m-container m-container--fluid m-container--full-height m-page__container" style="background-color: black; min-height: 3rem; height: 3rem;">
                    <div class="m-footer__wrapper">
                        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                                <span class="m-footer__copyright">
                                    &copy; 2010 - @DateTime.Now.Year @Configuration.GetSection("ApplicationInformation")["Name"]
                                </span>
                            </div>
                            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                                    <li class="m-nav__item">
                                        <a href="@Url.Action("Index", "Home", null)" class="m-nav__link">
                                            <span class="m-nav__link-text">Home</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="@Url.Action("PrivacyPolicy", "Home", null)" class="m-nav__link">
                                            <span class="m-nav__link-text">Privacy Policy</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="@Url.Action("TermsOfUse", "Home", null)" class="m-nav__link">
                                            <span class="m-nav__link-text">Terms of Use</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@

            </footer>
            <!-- end::Footer -->

        </div>
        <!-- end:: Page -->

    </div>

    <!--begin:: Global Mandatory Vendors -->
    <script src="~/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="~/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <script src="~/vendors/block-ui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="~/vendors/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/vendors/js/framework/components/plugins/base/sweetalert2.init.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
    <script src="~/vendors/js/framework/components/plugins/base/bootstrap-notify.init.js" type="text/javascript"></script>
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle -->
    <script src="/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Application Custom -->
    <script src="~/js/BlockUI_Custom.js"></script>
    <script src="~/js/application/library/dirPagination/dirPagination.js"></script>
    <script src="~/js/application/init-module.js"></script>
    <script src="~/js/application/service/applicationConfiguration.js"></script>
    <script src="~/js/application/service/dataTable.js"></script>
    <script src="~/js/application/directive-factory.js"></script>
    <script src="~/js/application/font-end/layout_font_end.js"></script>
    <!--end::Application Custom -->
    <!-- begin::Page Loader -->
    <script>
        $(window).on('load', function () {
            $('body').removeClass('m-page--loading');
        });
    </script>
    <!-- end::Page Loader -->

    @RenderSection("Scripts", required: false)

</body>

</html>