﻿@using Microsoft.Extensions.Configuration
@using Travel.Data.Entities.Identity
@inject IConfiguration Configuration
@{
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@Configuration.GetSection("ApplicationInformation")["Name"] | @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700", "Asap+Condensed:500"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin:: Global Mandatory Vendors -->
    @*<link href="~/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />*@
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <link href="~/vendors/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/flaticon/css/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/metronic/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles -->
    @*<link href="~/assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />*@
    <!--end::Global Theme Styles -->

    <link rel="shortcut icon" href="~/assets/demo/media/img/logo/favicon.ico" />
    @RenderSection("page_styles", required: false)

    <style type="text/css">
    </style>

</head>

<body>

    @RenderBody()

    @RenderSection("scripts", required: false)

</body>

</html>