
.even {
    background-color: white;
}

.odd {
    background-color: #F7F6FA;
}

.even_custom {
    background-color: white;
}

.odd_custom {
    background-color: #f8f4fb !important;
}

.table-pagination li a {
    background: #F7F8FA none repeat scroll 0 0;
    border: 1px solid #F7F8FA;
    border-radius: unset;
    color: #fff;
    font-size: 15px;
    /*font-weight: 600;*/
    letter-spacing: 0.65px;
    line-height: normal;
    padding: 6px 15px;
    text-transform: none;
    transition: all 0.3s linear 0s;
    color: black;
    border-radius: 50%;
}

    .table-pagination li a:hover, .table-pagination li.active a {
        background: #716aca none repeat scroll 0 0;
        border: 1px solid #716aca;
        color: #fff !important;
        outline: none;
        border-radius: 50%;
    }

/*.table-pagination li:first-child a {
    background: #F7F8FA none repeat scroll 0 0;
    border: 1px solid #F7F8FA;
}*/

.table-pagination {
    margin: 0;
}

.table-pagination li {
    display: inline-block;
    padding: 12px 5px;
}

.table-pagination {
    display: block;
    margin-top: 15px;
    overflow: hidden;
}

.table-pagination ul li {
    padding: 0 5px;
}

.table-pagination ul li a {
    background: #ECF1EB;
    border: 1px solid #ECF1EB;
    border-radius: 4px;
    box-shadow: 0 4px 0 #C8C8C8;
    color: #242841;
}

    .table-pagination ul li a:hover, .table-pagination ul li a.active {
        background: #716aca none repeat scroll 0 0;
        border: 1px solid #716aca;
        color: #fff !important;
        outline: none;
        border-radius: 50%;
    }
