﻿
@{
    ViewBag.Title = "Change Password";
    Layout = "_LayoutBackEnd";
}

<div class="m-content" ng-controller="changePasswordCtrl">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--font-focus">
                                <i class="la la-key"></i>
                            </span>
                            <h3 class="m-portlet__head-text m--font-focus">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="change_password_form" name="change_password_form" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">

                        <div class="col-lg-12">
                            <label for="CurrentPassword">Current Password:</label>
                            <input id="CurrentPassword" name="CurrentPassword" ng-model="changePasswordModel.CurrentPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter current password" maxlength="100" required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required.">
                            <span style="color: red" ng-show="change_password_form.CurrentPassword.$touched && change_password_form.CurrentPassword.$dirty && change_password_form.CurrentPassword.$invalid">
                                <span ng-show="change_password_form.CurrentPassword.$error.required">Please enter current password.</span>
                            </span>
                        </div>

                        <div class="col-lg-12 m--margin-top-10">
                            <label for="NewPassword">New Password:</label>
                            <input id="NewPassword" name="NewPassword" ng-model="changePasswordModel.NewPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter new password" maxlength="100" required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required.">
                            <span style="color: red" ng-show="change_password_form.NewPassword.$touched && change_password_form.NewPassword.$dirty && change_password_form.NewPassword.$invalid">
                                <span ng-show="change_password_form.NewPassword.$error.required">Please enter new password.</span>
                            </span>
                        </div>

                        <div class="col-lg-12 m--margin-top-10">
                            <label for="ConfirmPassword">Confirm Password:</label>
                            <input id="ConfirmPassword" name="ConfirmPassword" ng-model="changePasswordModel.ConfirmPassword" type="password" class="form-control m-input m_maxlength_1_custom" placeholder="Enter confirm password" maxlength="100" required data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required.">
                            <span style="color: red" ng-show="change_password_form.ConfirmPassword.$touched && change_password_form.ConfirmPassword.$dirty && change_password_form.ConfirmPassword.$invalid">
                                <span ng-show="change_password_form.ConfirmPassword.$error.required">Please enter confirm password.</span>
                            </span>
                        </div>

                        <div class="col-lg-12 m--margin-top-10">
                            <label id="lblMsg" style="color: red; text-align: center;"></label>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button id="btnResetPassword" ng-click="changePassword()" type="button" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill" style="">Change</button>
                                    <button ng-click="chefBack()" type="button" class="btn btn-default m-btn m-btn--icon m-btn--air m-btn--pill">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

@section page_styles {
}

@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/BlockUI_Custom.js"></script>
    <script src="~/js/application/accounts/change-password.js"></script>
    

}

