﻿
@{
}

<div class="m-content" ng-controller="forgetPasswordCtrl">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                {{formTitle}}
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="forget_password_form" name="forget_password_form" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="col-lg-12">

                                @*<div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label id="lblMsg" style="color: red; text-align: center;"></label>
                                    </div>
                                </div>*@

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <label for="Email">Email:</label>
                                        <input Id="Email" name="Email" ng-model="Email" type="email" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="" required>
                                        <span style="color: red" ng-show="forget_password_form.Email.$touched && forget_password_form.Email.$dirty && forget_password_form.Email.$invalid">
                                            <span ng-show="forget_password_form.Email.$error.required">Please enter your email address.</span>
                                        </span>
                                        <span style="color: red" ng-show="forget_password_form.Email.$touched && forget_password_form.Email.$dirty && forget_password_form.Email.$invalid">
                                            <span ng-show="forget_password_form.Email.$error.email">Invalid email address.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button id="btnForgetPassword" type="button" ng-click="forgetPassword()" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill" style="width: 25%;">Reset</button>
                                    <button ng-click="back()" type="button" class="btn btn-default m-btn m-btn--icon m-btn--air m-btn--pill" style="width: 25%;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

@section page_styles {
}

@section Scripts {
    <script src="~/js/application/accounts/forget-password.js"></script>
}