﻿@model Travel.Model.Account.LoginViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Login";
    //Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@Configuration.GetSection("ApplicationInformation")["Name"] | Login</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="~/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <link href="~/vendors/metronic/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles -->
    <link href="~/assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    <link rel="shortcut icon" href="~/assets/demo/media/img/logo/favicon.ico" />

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page blockui_login_signup blockui_login_signup ">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6" id="m_login">

            <div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2  m-grid m-grid--hor m-login__aside " style="background-image: url(/assets/app/media/img/bg/bg-4.jpg);">
                <div class="m-grid__item">
                    <div class="m-login__logo">
                        <a href="/">
                            <img src="~/assets/demo/media/img/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
                    <div class="m-grid__item m-grid__item--middle">
                        <span class="m-login__title">Online Travel Agency</span>
                        <span class="m-login__subtitle">Make your first booking in less than 60 seconds</span>
                    </div>
                </div>
                <div class="m-grid__item">
                    <div class="m-login__info">
                        <div class="m-login__section">
                            <a href="#" class="m-link">&copy; 2017 - @DateTime.Now.Year  @Configuration.GetSection("ApplicationInformation")["Name"]</a>
                        </div>
                        <div class="m-login__section">
                            <a href="@Url.Action("Index", "Home", null)" class="m-link">Home</a>
                            <a href="@Url.Action("PrivacyPolicy", "Home", null)" class="m-link">Privacy</a>
                            <a href="@Url.Action("TermsOfUse", "Home", null)" class="m-link">Terms of Use</a>
                            @*<a href="#" class="m-link">Contact</a>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">

                <!--begin::Head-->
                <div class="m-login__head">
                    @*<span>Don't have an account?</span>
                    <a href="#" class="m-link m--font-danger">Sign Up</a>*@
                </div>
                <!--end::Head-->
                <!--begin::Body-->
                <div class="m-login__body">
                    <!--begin::Signin-->
                    <div class="m-login__signin">
                        <div class="m-login__title">
                            <h3>Login</h3>
                        </div>

                        <!--begin::Form-->
                        <form id="login_form" class="m-form">
                            <div class="form-group m-form__group">
                                <input id="txtEmail" type="email" required placeholder="Email Address" class="form-control m-input"  autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input id="txtPassword" type="password" required placeholder="Password" class="form-control m-input m-login__form-input--last">
                            </div>
                            <div class="text-center">
                                <label id="lblMsg" style="color: red;"></label>
                            </div>
                            <!--begin::Action-->
                            <div class="m-login__action">
                                <a href="@Url.Action("ForgotPassword", "Account", null)" class="m-link">
                                    <span>Forgot Password ?</span>
                                </a>
                                <button type="button" id="btnLogin" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Login</button>
                            </div>
                            <!--end::Action-->

                        </form>
                        <!--end::Form-->
                        <!--begin::Divider-->
                        <div class="m-login__form-divider">
                            @*<div class="m-divider">
                                <span></span>
                                <span>OR</span>
                                <span></span>
                            </div>*@
                        </div>
                        <!--end::Divider-->
                        <!--begin::Options-->
                        <div class="m-login__options">
                            @*<a href="#" class="btn btn-primary m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
                                <span>
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </span>
                            </a>
                            <a href="#" class="btn btn-info m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
                                <span>
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </span>
                            </a>
                            <a href="#" class="btn btn-danger m-btn m-btn--pill  m-btn  m-btn m-btn--icon">
                                <span>
                                    <i class="fab fa-google"></i>
                                    <span>Google</span>
                                </span>
                            </a>*@
                        </div>
                        <!--end::Options-->

                    </div>
                    <!--end::Signin-->
                </div>
                <!--end::Body-->

            </div>

        </div>
    </div>
    <!-- end:: Page -->
    <!--begin:: Global Mandatory Vendors -->
    <script src="~/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/vendors/js-cookie/src/js.cookie.js" type="text/javascript"></script>
    <script src="~/vendors/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="~/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <script src="~/vendors/wnumb/wNumb.js" type="text/javascript"></script>
    <!--end:: Global Mandatory Vendors -->
    <!--begin::Global Theme Bundle -->
    <script src="~/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
<script src="~/assets/snippets/custom/pages/user/login6.js" type="text/javascript"></script>
<script src="~/vendors/block-ui/jquery.blockUI.js" type="text/javascript"></script>
<script src="~/js/BlockUI_Custom.js"></script>

<!--end::Page Scripts -->
    
<script type="text/javascript">

    jQuery(document).ready(function () {
        loginFormValidation();
    });

    function blockUILogin() {
        mApp.block('.blockui_login_signup', {
            overlayColor: '#000000',
            type: 'loader',
            state: 'primary',
            message: 'Login...'
        });
    }

    function unblockUI() {
        mApp.unblock('.blockui_login_signup');
    }

    function loginFormValidation() {
        $("#btnLogin").on("click", function () {
            if ($("#login_form")[0].checkValidity()) {
                postLogin();
            }
            else {
                $("#login_form")[0].reportValidity();
            }
        });
    }

    function postLogin() {
            blockUILogin();
            var fd = new FormData();
            fd.append("Email", $("#txtEmail").val());
            fd.append("Password", $("#txtPassword").val());
            $("#lblMsg").empty();

            $.ajax({
                type: "POST",
                url: "@(@Url.Action("LoginNew", "Account", new {Area = ""}))",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        jsonObj = [];
                        item = {};
                        item["CompanyLogo"] = data.companyLogo;
                        item["BaseCurrency"] = data.baseCurrency;
                        item["CompanyAddress"] = data.companyAddress;
                        item["DashboardUrl"] = data.redirectUrl;
                        item["CompanyId"] = data.companyId;
                        jsonObj.push(item);
                        var jsonString = JSON.stringify(jsonObj);
                        sessionStorage.setItem("CompanyBasicInfo", jsonString);

                        document.location.href = data.redirectUrl;
                    } else {
                        $("#lblMsg").append(data.message);
                    }
                    unblockUI();
                },
                failure: function (response) {
                    unblockUI();
                },
                error: function (XMLHttpRequest, textStatus) {
                    unblockUI();
                }
            });
        }

</script>

</body>
<!-- end::Body -->

</html>