﻿@model Travel.Model.Account.RegisterViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<Travel.Data.Entities.Identity.ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
    Layout = null;// "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<h1>Base Project</h1>
<h5 style="font-family:NanumGothic;"></h5>
<hr />
<row>

    <div class="col-md-3 col-md-offset-3">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h5 style="font-family:NanumGothic; font-weight:700">Create your account for free!</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" style="font-family:NanumGothic; font-size:12px">Display Name</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" style="font-family:NanumGothic; font-size:12px">FirstName</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" style="font-family:NanumGothic; font-size:12px">LastName</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" style="font-family:NanumGothic; font-size:12px">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" style="font-family:NanumGothic; font-size:12px">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" style="font-family:NanumGothic; font-size:12px">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" style="font-family:NanumGothic; font-size:12px">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default"
                    style="min-width:100px;
                                    min-width: 100%;
                                    font-family:NanumGothic;
                                    color: #fff;
                                    background-color: #4d4d4d;
                                    border-color: #404040; font-size:100%;">
                Sign Up
            </button>
        </form>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <section>
            <h5 style="font-family:NanumGothic; font-weight:700">External Login</h5>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <div class="row">
                                            <button type="submit" class="btn btn-default" style="margin-top:20px;margin-bottom: 15px;
                                                    width: 100%;" name="provider" value="@provider.Name" title="@provider.DisplayName 으로 심플리 온라인에 등록하세요">
                                                <img class="width-15px margin-right-5" style="margin-top:-2px" src="~/snsIcons/google.png"> @provider.Name
                                            </button>
                                        </div>
                                    }
                                    else if (provider.Name == "Naver")
                                    {
                                        <div class="row">
                                            <button type="submit" class="btn btn-default" style="margin-bottom: 15px;
                                                    width: 100%;" name="provider" value="@provider.Name" title="@provider.DisplayName 으로 심플리 온라인에 등록하세요">
                                                <img class="width-15px margin-right-5" style="margin-top:-2px" src="~/snsIcons/naver.png"> @provider.Name
                                            </button>
                                        </div>
                                    }
                                    else if (provider.Name == "Kakao")
                                    {

                                        <div class="row">
                                            <button type="submit" class="btn btn-default" style="margin-bottom: 15px;
                                                    width: 100%;" name="provider" value="@provider.Name" title="@provider.DisplayName 으로 심플리 온라인에 등록하세요">
                                                <img class="width-15px margin-right-5" style="margin-top:-2px" src="~/snsIcons/kakao.png"> @provider.Name
                                            </button>
                                        </div>

                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>

</row>




@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
