﻿
@{
}

<div class="row" ng-controller="b2bDashboardCtrl">
    <div class="col-xl-8">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">{{B2BDashboardInfo.b2BInformationModel.name}}'s Bio</h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
                </div>
            </div>

            <div class="m-portlet__body">

                <div class="col-xl-12 row">
                    <div class="col-xl-6 row">
                        <div class="form-group m-form__group">
                            <span class="m-topbar__userpic">
                                <img src="{{B2BDashboardInfo.b2BInformationModel.logo}}" class="img-thumbnail" alt="" style="">
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 row">
                        <div class="col-xl-12">
                            <h3 class="m--font-focus" style="margin-bottom: 0px;">{{B2BDashboardInfo.b2BInformationModel.name}}</h3>
                            <span>Mobile: {{B2BDashboardInfo.b2BInformationModel.mobileNumber}}, Email: {{B2BDashboardInfo.b2BInformationModel.email}}</span>
                            <h5 class="m--margin-top-20" style="margin-bottom: 0px;">Address</h5>
                            <span>{{B2BDashboardInfo.b2BInformationModel.address}}</span>
                            <span>{{B2BDashboardInfo.b2BInformationModel.cityName}}, {{B2BDashboardInfo.b2BInformationModel.countryName}}-{{B2BDashboardInfo.b2BInformationModel.zipCode}}</span>
                        </div>
                        <div class="col-xl-12">
                            <button ng-click="changeProfile()" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill">
                                <span>
                                    <i class="la la-user"></i>
                                    <span>Change Profile</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-xl-4">

        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Recent Booking</h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="m-form" style="overflow: auto;">
                    <div class="row col-lg-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" role="grid" aria-describedby="m_table_1_info">
                            <thead style="background-color: #cb8bf9 !important; color: white;">
                                <tr role="row">
                                    <th>Booking No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="">
                                <tr ng-repeat="x in ChefDashboardInfo.recentMenuOrder" ng-class="$index % 2 == 0 ? 'even_custom' : 'odd_custom'">
                                    <td>
                                        {{x.menuTitle}}
                                    </td>
                                    <td style="text-align: center;">
                                        <a ng-click="orderDetails(x.menuOrderId)" class="m-portlet__nav-link btn m-btn m-btn--hover-focus m-btn--icon m-btn--icon-only m-btn--pill" title="Order Details">
                                            <i class="la la-file"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>



@section page_styles {
    <link href="~/js/plugins/star-rating-svg-master/src/css/star-rating-svg.css" rel="stylesheet" />
    <link href="~/js/plugins/star-rating-svg-master/demo/css/demo.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/plugins/star-rating-svg-master/src/jquery.star-rating-svg.js"></script>
    <script src="~/js/application/b2b/dashboard.js"></script>
}