﻿
@{}

<div class="m-portlet m-portlet--mobile" ng-controller="chefCtrl">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="la la-th-list" style="color: black;"></i>
                </span>
                <h3 class="m-portlet__head-text">{{formTitle}}</h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <div class="m-form m-form--label-align-right m--margin-bottom-20">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3 m--margin-top-10-tablet-and-mobile">
                            <div class="m-form__group m-form__group--inline">
                                <div class="m-form__label">
                                    <label>Status:</label>
                                </div>
                                <div class="m-form__control">
                                    <select ng-model="status" class="form-control" ng-change="filterByStatus(status)">
                                        <option value="All">All</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m--margin-top-10-tablet-and-mobile">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input" placeholder="Search..." ng-model="searchString" ng-keyup="setSearchString()">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 m--align-center  m--margin-top-10-tablet-and-mobile m--margin-top-10-desktop">
                            <label ng-show="successFailMsg=='success'" style="color: green; font-weight: bold;">{{OperationMessage}}</label>
                            <label ng-show="successFailMsg=='fail'" style="color: red; font-weight: bold;">{{OperationMessage}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 m--align-right  m--margin-top-10-tablet-and-mobile">

                </div>
            </div>
        </div>
        <div class="m-form" style="overflow: auto;">
            <div class="row col-lg-12">
                <table class="table table-bordered table-hover dataTable dtr-inline" role="grid">
                    <thead style="background-color: #F4F3F8">
                        <tr role="row">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>No of Menus</th>
                            <th>No of Orders</th>
                            <th>Location</th>
                            <th>Join Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in itemList|orderBy:'title'|itemsPerPage:$root.itemViewPerPage" total-items="totalItemCount" ng-class="$index % 2 == 0 ? 'even' : 'odd'">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.mobileNumber}}</td>
                            <td>{{item.noOfMenus}}</td>
                            <td>{{item.noOfOrders}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.joinDate| date:'dd/MM/yyyy'}}</td>
                            <td>
                                <div ng-if="item.status == 'Active' ">
                                    <span class="m-badge  m-badge--success m-badge--wide">Active</span>
                                </div>
                                <div ng-if="item.status == 'Inactive' ">
                                    <span class="m-badge  m-badge--danger m-badge--wide">Inactive</span>
                                </div>
                            </td>

                            <td>
                                <span style="overflow: visible; position: relative; width: 100px;">
                                    <a ng-click="" ng-confirm-click="Are you sure to resend email verification link?" confirmed-click="sendEmailVerificationLink(item.id)" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" title="Resend Email Verification Link">
                                        <i class="la la-send"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-9">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="getPageNo(newPageNumber)"></dir-pagination-controls>
            </div>
            <div class="col-lg-3 row m--margin-top-20-tablet-and-mobile m--margin-top-20-desktop">
                <div class="col-lg-5">
                    <select ng-model="viewPerPage" class="form-control" ng-change="setViewPerPage(viewPerPage)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="col-lg-7">
                    Displaying {{((pageNo-1)*itemViewPerPage)+1}} - {{((pageNo*itemViewPerPage) >= totalItemCount)? totalItemCount: (pageNo*itemViewPerPage)}} of {{totalItemCount}} records
                </div>
            </div>
        </div>
    </div>

</div>

@section page_styles {
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/js/application/admin/chef/chef-management.js"></script>
}

