﻿
@{
    ViewBag.Title = "Company dashboard";
    //Layout = "_LayoutBackEnd";
}

<h2>Index</h2>

@section page_styles {
}

@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            loadDashboardurl();
            initMenu("Report");
        });
    </script>

}