﻿
@{
    ViewBag.Title = "My Profile";
}

<input id="TempInput" type="hidden" value="@ViewBag.EmployeeId">

<div class="m-content" ng-controller="employeeBasicInfoCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon  m--font-focus">
                                <i class="la la-user"></i>
                            </span>
                            <h3 class="m-portlet__head-text m--font-focus">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="employeeBasicInformationForm" name="employeeBasicInformationForm" class="m-form m-form--fit m-form--label-align-right">
                    <input id="EmployeeId" name="EmployeeId" ng-model="EmployeeId" type="hidden">
                    <input id="Picture" type="hidden">
                    <div class="m-portlet__body">

                        <div class="row">
                            <div class="form-group m-form__group col-lg-9">

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label>Name:</label>
                                        <input id="Name" name="Name" ng-model="employeeInformation.Name" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="100" required placeholder="Enter name">
                                        <span style="color:red" ng-show="employeeBasicInformationForm.Name.$touched && employeeBasicInformationForm.Name.$dirty && employeeBasicInformationForm.Name.$invalid">
                                            <span ng-show="employeeBasicInformationForm.Name.$error.required">Please enter your name.</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Email:</label>
                                        <input id="Email" name="Email" ng-model="employeeInformation.Email" type="email" class="form-control m-input m_maxlength_1_custom" required maxlength="50" placeholder="Enter email address">
                                        <span style="color: red" ng-show="employeeBasicInformationForm.Email.$touched && employeeBasicInformationForm.Email.$dirty && employeeBasicInformationForm.Email.$invalid">
                                            <span ng-show="employeeBasicInformationForm.Email.$error.required">Please enter your email address.</span>
                                        </span>
                                        <span style="color: red" ng-show="employeeBasicInformationForm.Email.$touched && employeeBasicInformationForm.Email.$dirty && employeeBasicInformationForm.Email.$invalid">
                                            <span ng-show="employeeBasicInformationForm.Email.$error.email">Invalid email address.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row m--margin-top-10">
                                    <div class="col-lg-12">
                                        <label class="">Address:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <textarea id="Address" ng-model="employeeInformation.Address" rows="4" cols="100" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Country:</label>
                                        <select name="Country" ng-model="SelectedCountry" ng-options="x.name for x in CountryList track by x.id" ng-change="CountrySelectedChange()" class="form-control" required>
                                            <option value="">-- Select Country --</option>
                                        </select>
                                        <span style="color:red" ng-show="employeeBasicInformationForm.Country.$touched && employeeBasicInformationForm.Country.$dirty && employeeBasicInformationForm.Country.$invalid">
                                            <span ng-show="employeeBasicInformationForm.Country.$error.required">Please enter your country.</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-6  m--margin-top-10">
                                        <label class="">City:</label>
                                        <select name="City" ng-model="SelectedCity" ng-options="x.name for x in CityList track by x.id" class="form-control" required>
                                            <option value="">-- Select Location --</option>
                                        </select>
                                        <span style="color:red" ng-show="employeeBasicInformationForm.City.$touched && employeeBasicInformationForm.City.$dirty && employeeBasicInformationForm.City.$invalid">
                                            <span ng-show="employeeBasicInformationForm.City.$error.required">Please enter your location.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Mobile Number:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="MobileNumber" ng-model="employeeInformation.MobileNo" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter mobile number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6  m--margin-top-10">
                                        <label class="">Status:</label>
                                        <select ng-model="employeeInformation.Status" ng-options="x.value for x in StatusList track by x.id" class="form-control">
                                            <option value="">--Select Status--</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div ng-show="employeeInformation.Id !=null" class="form-group m-form__group col-lg-3">
                                <div class="form-group m-form__group">
                                    <div class="media">
                                        <img ng-attr-src="{{imgProfilePicture}}" src id="imgProfilePicture" class="img-responsive" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6" style="">
                                        <button ng-click="loadModalInInsertMode();" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill">
                                            <span>
                                                <i class="la la-upload"></i>
                                                <span>Upload</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10-tablet-and-mobile">
                                        <button ng-click="removeEmployeeProfilePicture()" class="btn btn-danger m-btn m-btn--icon m-btn--air m-btn--pill">
                                            <span>
                                                <i class="la la-trash"></i>
                                                <span>Delete</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">

                                    <button type="button" ng-click="save()" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill">{{Action}}</button>
                                    <button ng-click="back()" type="button" class="btn btn-default m-btn m-btn--icon m-btn--air m-btn--pill">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>

    <div class="modal fade blockui_modal" id="upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="">Upload Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-remove"></span>
                    </button>
                </div>

                <form id="upload_image" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m--margin-bottom-10 m--margin-top-10">
                        <div class="">

                            <div class="col-md-12">
                                <div class="media">
                                    <img ng-attr-src="{{imgImage}}" src id="imgImage" class="img-responsive" style="width: 100%;" />
                                </div>
                            </div>

                            <div ng-show="imgImage==null" class="row col-md-12">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <span class="btn btn-focus m-btn m-btn--pill fileinput-button-property m-btn--air" style="">
                                        <i class="la la-plus"></i>
                                        <span>Select Image</span>
                                        <input id="imgUploadImage" name="imgUploadImage" ng-model="imgUploadImage" type="file">
                                    </span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <button id="btnUpload" ng-click="uploadEmployeeProfilePicture()" type="button" class="btn btn btn-info m-btn m-btn--pill">
                                        <span>
                                            <i class="la la-upload"></i>
                                            <span>Start Upload</span>
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div ng-show="imgImage!=null" class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
                        <button id="btnDone" type="button" class="btn btn-focus m-btn m-btn--pill" data-dismiss="modal">Complete</button>
                    </div>
                    @*<div class="modal-body">
            <div class="form-group m-form__group row m--margin-top-20">

                <div class="row col-md-12 form-group">
                    <div class="media">
                        <img ng-attr-src="{{imgImage}}" src id="imgImage" class="img-responsive" style="width: 100%;" />
                    </div>
                </div>

                <div class="row col-md-4">
                    <span ng-show="imgImage==null" class="btn btn-focus m-btn m-btn--pill fileinput-button-property m-btn--air" style="">
                        <i class="la la-plus"></i>
                        <span>Select Image</span>
                        <input id="imgUploadImage" name="imgUploadImage" ng-model="imgUploadImage" type="file">
                    </span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4 row">
                    <button ng-show="imgImage==null" id="btnUpload" ng-click="uploadEmployeeProfilePicture()" type="button" class="btn btn btn-focus m-btn m-btn--pill">
                        <span>
                            <i class="la la-upload"></i>
                            <span>Start Upload</span>
                        </span>
                    </button>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button id="btnDone" type="button" class="btn btn-brand m-btn m-btn--pill" data-dismiss="modal">Complete</button>
        </div>*@
                </form>

            </div>
        </div>
    </div>

</div>

@section page_styles {
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .fileinput-button-property {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

            .fileinput-button-property input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }
    </style>

}

@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/application/admin/employee/employee.js"></script>
    <script src="~/js/BlockUI_Custom.js"></script>

    <script type="text/javascript">
        angular.element(document).ready(function () {

        });
    </script>

}
