﻿
@{
}

<div class="m-portlet m-portlet--mobile" ng-controller="adminDashboard">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Admin Dashboard</h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav"><li class="m-portlet__nav-item"></li></ul>
        </div>
    </div>

    <div class="m-portlet__body">
        <h1>Chefk Dashboard</h1>
    </div>

</div>

@section page_styles {

}

@section Scripts {
    <script src="~/js/application/admin/dashboard/dashboard.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            //loadDashboardurl();
            //initMenu("Dashboard");
        });


    </script>
}