﻿
@{
    ViewBag.Title = "My Profile";
}

<input id="TempInput" type="hidden" value="@ViewBag.B2BId">

<div class="m-content" ng-controller="b2bBasicInfoCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon  m--font-focus">
                                <i class="la la-user"></i>
                            </span>
                            <h3 class="m-portlet__head-text m--font-focus">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form id="b2bBasicInformationForm" name="b2bBasicInformationForm" class="m-form m-form--fit m-form--label-align-right">
                    <input id="B2BId" name="B2BId" ng-model="B2BId" type="hidden">
                    <input id="Picture" type="hidden">
                    <div class="m-portlet__body">

                        <div class="row">

                            <div class="form-group m-form__group col-lg-9">

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label>Name:</label>
                                        <input id="Name" name="Name" ng-model="b2bBasicInfo.Name" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="100" required placeholder="Enter name">
                                        <span style="color: red" ng-show="b2bBasicInformationForm.Name.$touched && b2bBasicInformationForm.Name.$dirty && b2bBasicInformationForm.Name.$invalid">
                                            <span ng-show="b2bBasicInformationForm.Name.$error.required">Please enter your name.</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Email:</label>
                                        <input id="Email" ng-model="b2bBasicInfo.Email" disabled="disabled" type="email" class="form-control m-input m_maxlength_1_custom" required maxlength="50" placeholder="Enter email address">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Phone Number:</label>
                                        <input id="PhoneNumber" ng-model="b2bBasicInfo.PhoneNumber" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter phone number">
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Mobile Number:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="MobileNumber" ng-model="b2bBasicInfo.MobileNumber" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter mobile number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Fax:</label>
                                        <input id="PhoneNumber" ng-model="b2bBasicInfo.Fax" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter phone number">
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Website:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="MobileNumber" ng-model="b2bBasicInfo.Website" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter mobile number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Contact Person:</label>
                                        <input id="ContactPerson" ng-model="b2bBasicInfo.ContactPerson" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter phone number">
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Contact Person Designation:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="MobileNumber" ng-model="b2bBasicInfo.ContactPersonDesignation" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Enter mobile number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Nature Of Business:</label>
                                        <input id="PhoneNumber" ng-model="b2bBasicInfo.NatureOfBusiness" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="Nature Of Business">
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">License No:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="MobileNumber" ng-model="b2bBasicInfo.LicenseNo" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="50" placeholder="License No">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 m--margin-top-10">
                                        <label class="">Address:</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <textarea id="Address" ng-model="b2bBasicInfo.Address" rows="4" cols="100" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Country:</label>
                                        <select name="Location" ng-model="SelectedCountry" ng-options="x.name for x in CountryList track by x.id" ng-change="CountrySelectedChange()" class="form-control" required>
                                            <option value="">-- Select Country --</option>
                                        </select>
                                        <span style="color: red" ng-show="b2bBasicInformationForm.Location.$touched && b2bBasicInformationForm.Location.$dirty && b2bBasicInformationForm.Location.$invalid">
                                            <span ng-show="b2bBasicInformationForm.Location.$error.required">Please enter your location.</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">City:</label>
                                        <select ng-model="SelectedCity" ng-options="x.name for x in CityList track by x.id" class="form-control" required>
                                            <option value="">-- Select City --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Zip Code:</label>
                                        <input id="ZipCode" ng-model="b2bBasicInfo.ZipCode" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="10" placeholder="Enter zip code">
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10">
                                        <label class="">Status:</label>
                                        <input id="ZipCode" disabled ng-model="b2bBasicInfo.Status" type="text" class="form-control m-input m_maxlength_1_custom" maxlength="10" placeholder="Status">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-4 m--margin-top-10"></div>
                                    <div class="col-lg-8 m--margin-top-10">
                                        <button type="button" ng-click="updateB2BInformation()" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill">Update</button>
                                        <button ng-click="cancelUpdateB2BInformation()" type="button" class="btn btn-default m-btn m-btn--icon m-btn--air m-btn--pill">Cancel</button>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group m-form__group col-lg-3">
                                <div class="">
                                    <div class="media">
                                        <img ng-attr-src="{{imgProfilePicture}}" src id="imgProfilePicture" class="img-responsive" style="width: 100%;"/>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6" style="">
                                        <button onclick="loadModalInInsertMode();" class="btn btn-focus m-btn m-btn--icon m-btn--air m-btn--pill">
                                            <span>
                                                <i class="la la-upload"></i>
                                                <span>Upload</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-lg-6 m--margin-top-10-tablet-and-mobile">
                                        <button ng-click="removeB2BProfilePicture()" class="btn btn-danger m-btn m-btn--icon m-btn--air m-btn--pill">
                                            <span>
                                                <i class="la la-trash"></i>
                                                <span>Delete</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </form>
                <!--end::Form-->

            </div>
        </div>
    </div>

    <div class="modal fade blockui_modal" id="upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="">Upload Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-remove"></span>
                    </button>
                </div>

                <form id="upload_image" class="m-form m-form--fit m-form--label-align-right">
                    <div class="form-group m-form__group row m--margin-top-20">

                        <div class="row col-md-12 form-group">
                            <div class="media">
                                <img ng-attr-src="{{imgImage}}" src id="imgImage" class="img-responsive" style="width: 100%;" />
                            </div>
                        </div>

                        <div ng-show="imgImage==null" class="row col-md-12">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <span class="btn btn-focus m-btn m-btn--pill fileinput-button-property m-btn--air" style="">
                                    <i class="la la-plus"></i>
                                    <span>Select Image</span>
                                    <input id="imgUploadImage" name="imgUploadImage" ng-model="imgUploadImage" type="file">
                                </span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <button id="btnUpload" ng-click="uploadB2BProfilePicture()" type="button" class="btn btn btn-info m-btn m-btn--pill">
                                    <span>
                                        <i class="la la-upload"></i>
                                        <span>Start Upload</span>
                                    </span>
                                </button>
                            </div>
                        </div>


                    </div>
                    <div ng-show="imgImage!=null" class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
                        <button id="btnDone" type="button" class="btn btn-focus m-btn m-btn--pill" data-dismiss="modal">Complete</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

@section page_styles {
    <link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .fileinput-button-property {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

            .fileinput-button-property input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }
    </style>

}

@section Scripts {
    <script src="~/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/forms/widgets/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="~/js/B2B.js"></script>
    <script src="~/js/BlockUI_Custom.js"></script>

    <script type="text/javascript">
        angular.element(document).ready(function () {

        });
    </script>

}
